body,
html {
  font-family: sans-serif;
  width: 90%;
  margin: 25px auto 0 auto;
  line-height: 1.25;
}

li {
  margin-top: 50px;
}

li:first-of-type {
  margin-top: 0;
}

code {
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 0.3rem;
  padding: 4px 5px 5px;
  white-space: nowrap;
}

#button {
  background-color: #f76c6c;
  color: white;
  transition-duration: 0.3s;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}

#button:hover {
  background-color: #be5151;
  border: none;
  color: white;
  cursor: pointer;
}

#button:focus {
  outline: 0;
}

#instructions-container {
  border-top: 1px solid rgb(196, 196, 196);
}

#controls-container {
  padding: 15px;
  display: grid;
  place-items: center;
}

#dots-container {
  position: relative;
  border: 20px solid #39424e;
  height: 300px;
  width: 400px;
  margin: 0 auto;
}

#dots-container div {
  width: 100px;
  height: 100px;
  background-color: "red";
}

li {
  margin-bottom: 10px;
}
